<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Up vote:</strong>
  <%= @restaurant.up_vote %>
</p>

<p>
  <strong>Down vote:</strong>
  <%= @restaurant.down_vote %>
</p>

<%= link_to 'Back', restaurants_path %>
